[phases.setup]
nixPkgs = ["python311", "python311Packages.pip", "nodejs-18_x"]

[phases.install]
cmds = [
    "npm install --prefix frontend",
    "python3 -m pip install -r backend/requirements.txt"
]

[phases.build]
cmds = [
    "npm run build --prefix frontend",
    "cd backend && playwright install chromium"
]

[start]
cmd = "sh start.sh"
