[phases.setup]
nixPkgs = ["python311", "nodejs-18_x"]

[phases.install]
cmds = [
    "cd frontend && npm install",
    "cd ../backend && pip install -r requirements.txt"
]

[phases.build]
cmds = [
    "cd frontend && npm run build",
    "cd ../backend && playwright install chromium"
]

[start]
cmd = "sh start.sh"
