[phases.setup]
nixPkgs = ["python311", "python311Packages.pip", "python311Packages.setuptools", "python311Packages.wheel", "nodejs-18_x"]

[variables]
VIRTUAL_ENV = "/app/venv"

[phases.install]
cmds = [
    "npm install --prefix frontend",
    "python3 -m venv /app/venv",
    "source /app/venv/bin/activate && pip install --upgrade pip setuptools wheel",
    "source /app/venv/bin/activate && pip install -r backend/requirements.txt"
]

[phases.build]
cmds = [
    "npm run build --prefix frontend",
    "cd backend && playwright install chromium"
]

[start]
cmd = "sh start.sh"
