[build]
builder = "nixpacks"

[deploy]
startCommand = "echo 'This is root. Please use backend/ or frontend/ services instead.'"
healthcheckPath = "/"
healthcheckTimeout = 100
restartPolicyType = "ON_FAILURE"
restartPolicyMaxRetries = 10
